<div class="flex justify-center items-center min-h-screen">
  <div class="p-8 border w-96 rounded-md">
    <form class="space-y-4" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <div>
        <label for="email" class="block text-sm"> Email </label>
        <input
          id="email"
          name="email"
          type="email"
          ngModel
          required
          class="w-full px-3 py-2 border"
          placeholder="Enter your email"
        />
      </div>

      <div>
        <label for="password" class="block text-sm"> Password </label>
        <input
          id="password"
          name="password"
          type="password"
          ngModel
          required
          class="w-full px-3 py-2 border"
          placeholder="Enter your password"
        />
      </div>

      <button
        type="submit"
        class="w-full py-2 px-4 bg-blue-600 text-white"
        [disabled]="isLoading"
      >
        <span *ngIf="isLoading">Logging in...</span>
        <span *ngIf="!isLoading">Login</span>
      </button>
    </form>
  </div>
</div>
