<nav class="bg-blue-600 text-white p-4">
  <div class="flex justify-between items-center">
    <div class="text-xl font-bold">
      <a routerLink="/">TeamSync</a>
    </div>
    <div class="space-x-6">
      <a
        *ngIf="!isLoggedIn"
        routerLink="/login"
        routerLinkActive="!text-red-500 underline"
        >Log In</a
      >
      <a
        *ngIf="!isLoggedIn"
        routerLink="/signup"
        routerLinkActive="!text-red-500 underline"
        >Sign Up</a
      >

      <a
        *ngIf="isLoggedIn"
        routerLink="/create-project"
        routerLinkActive="!text-red-500 underline"
        >Create Project</a
      >
      <a
        *ngIf="isLoggedIn"
        routerLink="/my-projects"
        routerLinkActive="!text-red-500 underline"
        >My Projects</a
      >
      <a
        *ngIf="isLoggedIn"
        routerLink="/notifications"
        routerLinkActive="!text-red-500 underline"
        >Notifications</a
      >
      <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
