<nav class="bg-blue-600 text-white p-4">
  <div class="flex justify-between items-center">
    <div class="text-xl font-bold">
      <a routerLink="/">TeamSync</a>
    </div>
    <div class="space-x-10">
      <a
        *ngIf="!isLoggedIn"
        routerLink="/login"
        routerLinkActive="!text-red-500 underline"
        class="mr-4"
        >Log In</a
      >
      <a
        *ngIf="!isLoggedIn"
        routerLink="/signup"
        routerLinkActive="!text-red-500 underline"
        >Sign Up</a
      >
      <button
        *ngIf="isLoggedIn"
        (click)="logout()"
        class="text-white hover:text-red-400"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
